<script>
    function _(id)
    {
        return document.getElementById(id);
    }
</script>
<script src="../lib/js/jquery.js"></script>
<script src="../lib/js/bootstrap.js"></script>
<script src="../lib/datatables/query.dataTables.min.js"></script>
<script src="../lib/datatables/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" href="../lib/css/bootstrap.css">
<link rel="stylesheet" href="../lib/fonts/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../lib/style.css">