<div id="add_user" class="modal border-primary">
        <div class="modal-dialog ">
            <div class="modal-content">
                
                <div class="modal-header  bg-primary">
                    <h5 class="modal-title">create account</h5>
                    <button data-dismiss="modal" class="close">&times;</button>
                </div>
                
                <form method="post" action="../../control/functions.php" autocomplete="off">
                    
                    <div class="modal-body">
                        
                        <input name="method" value="1" class="fade"/>
                        <input name="nom" placeholder="nom" type="text" class="form-control mt-2"/>
                        <input name="prenom" placeholder="prenom" type="text" class="form-control mt-2"/>
                        <input name="mail" placeholder="mail" type="text" class="form-control mt-2"/>
                        <input name="password" placeholder="password" type="text" class="form-control mt-2"/>
                        
                    </div>
                    
                    <div class="modal-footer">
                        
                        <button class="btn btn-danger" data-dismiss="modal">
                            <span class="fa fa-close"></span> Annuler 
                        </button>
                        <button class="btn btn-primary" type="submit">
                            <span class="fa fa-check"></span> Add
                        </button>
                        
                    </div>
                    
                </form>
                
            </div>
        </div>
    </div>